# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/themes/*
!web/app/themes/.gitkeep

# WordPress
web/wp
web/.htaccess

# Dotenv
.env

# Composer
/vendor
!vendor/.gitkeep

# Eclipse project files
.classpath
.project
.settings/

# Intellij project files
*.iml
*.ipr
*.iws
.idea/

# WP Plugins
web/app/object-cache.php
web/app/advanced-cache.php
